
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<div id="layers-widget-insurers_service_id-3" class="widget insurers-service-widget content-vertical-massive   ">
    <div class="container clearfix">
        <div class="section-title clearfix section-title-wrapper medium text-center ">
            <h3 class="heading">
                Our Services
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
    </div>
    <div class="container list-grid">
        <div class="grid">
            <div id="layers-widget-insurers_service_id-3-376" class="layers-masonry-column service-box-single layers-widget-insurers_service_id-376 span-4  first  column  has-image">
                <div class="single-service-box media image-top medium">
                    <div class="media-image ">
                        <a href="home-insurance/index.html">
                            <img width="900" height="500" src="wp-content/uploads/2017/04/blog-1.jpg" class="attachment-full size-full" alt="" srcset="http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-1.jpg 900w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-1-300x167.jpg 300w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-1-768x427.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
                        </a>
                    </div>
                    <div class="media-body text-left">
                        <h5 class="heading">
                            <a href="home-insurance/index.html">
                                Home Insurance
                            </a>
                        </h5>
                        <div class="excerpt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
                        <a href="home-insurance/index.html" class="button ">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div id="layers-widget-insurers_service_id-3-295" class="layers-masonry-column service-box-single layers-widget-insurers_service_id-295 span-4    column  has-image">
                <div class="single-service-box media image-top medium">
                    <div class="media-image ">
                        <a href="life-insurance/index.html">
                            <img width="900" height="500" src="wp-content/uploads/2017/04/blog-2.jpg" class="attachment-full size-full" alt="" srcset="http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-2.jpg 900w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-2-300x167.jpg 300w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-2-768x427.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
                        </a>
                    </div>
                    <div class="media-body text-left">
                        <h5 class="heading">
                            <a href="life-insurance/index.html">
                                Health - Life Insurance
                            </a>
                        </h5>
                        <div class="excerpt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
                        <a href="life-insurance/index.html" class="button ">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div id="layers-widget-insurers_service_id-3-747" class="layers-masonry-column service-box-single layers-widget-insurers_service_id-747 span-4  last  column  has-image">
                <div class="single-service-box media image-top medium">
                    <div class="media-image ">
                        <a href="travel-insurance/index.html">
                            <img width="900" height="500" src="wp-content/uploads/2017/04/blog-4.jpg" class="attachment-full size-full" alt="" srcset="http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-4.jpg 900w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-4-300x167.jpg 300w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-4-768x427.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
                        </a>
                    </div>
                    <div class="media-body text-left">
                        <h5 class="heading">
                            <a href="travel-insurance/index.html">
                                Travel Insurance
                            </a>
                        </h5>
                        <div class="excerpt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
                        <a href="travel-insurance/index.html" class="button ">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div id="layers-widget-insurers_service_id-3-725" class="layers-masonry-column service-box-single layers-widget-insurers_service_id-725 span-4  first  column  has-image">
                <div class="single-service-box media image-top medium">
                    <div class="media-image ">
                        <a href="business-insurance/index.html">
                            <img width="900" height="500" src="wp-content/uploads/2017/04/blog-3.jpg" class="attachment-full size-full" alt="" srcset="http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-3.jpg 900w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-3-300x167.jpg 300w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-3-768x427.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
                        </a>
                    </div>
                    <div class="media-body text-left">
                        <h5 class="heading">
                            <a href="business-insurance/index.html">
                                Business Insurance
                            </a>
                        </h5>
                        <div class="excerpt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
                        <a href="business-insurance/index.html" class="button ">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div id="layers-widget-insurers_service_id-3-471" class="layers-masonry-column service-box-single layers-widget-insurers_service_id-471 span-4    column  has-image">
                <div class="single-service-box media image-top medium">
                    <div class="media-image ">
                        <a href="car-insurance/index.html">
                            <img width="900" height="500" src="wp-content/uploads/2017/04/blog-7.jpg" class="attachment-full size-full" alt="" srcset="http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-7.jpg 900w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-7-300x167.jpg 300w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-7-768x427.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
                        </a>
                    </div>
                    <div class="media-body text-left">
                        <h5 class="heading">
                            <a href="car-insurance/index.html">
                                Auto Insurance
                            </a>
                        </h5>
                        <div class="excerpt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
                        <a href="car-insurance/index.html" class="button ">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div id="layers-widget-insurers_service_id-3-305" class="layers-masonry-column service-box-single layers-widget-insurers_service_id-305 span-4  last  column  has-image">
                <div class="single-service-box media image-top medium">
                    <div class="media-image ">
                        <a href="agricultural-insurance/index.html">
                            <img width="900" height="500" src="wp-content/uploads/2017/04/blog-9.jpg" class="attachment-full size-full" alt="" srcset="http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-9.jpg 900w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-9-300x167.jpg 300w, http://wpregular.support/wp/insurers/wp-content/uploads/2017/04/blog-9-768x427.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
                        </a>
                    </div>
                    <div class="media-body text-left">
                        <h5 class="heading">
                            <a href="agricultural-insurance/index.html">
                                Agricultural insurance‎
                            </a>
                        </h5>
                        <div class="excerpt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
                        <a href="agricultural-insurance/index.html" class="button ">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /row -->
    </div>
    <style type="text/css">
        /* INLINE WIDGET CSS */
        #layers-widget-insurers_service_id-3 {
            background-repeat: no-repeat;
            background-position: center;
        }

        #layers-widget-insurers_service_id-3-376 {
            background-repeat: no-repeat;
            background-position: center;
        }

        #layers-widget-insurers_service_id-3-295 {
            background-repeat: no-repeat;
            background-position: center;
        }

        #layers-widget-insurers_service_id-3-747 {
            background-repeat: no-repeat;
            background-position: center;
        }

        #layers-widget-insurers_service_id-3-725 {
            background-repeat: no-repeat;
            background-position: center;
        }

        #layers-widget-insurers_service_id-3-471 {
            background-repeat: no-repeat;
            background-position: center;
        }

        #layers-widget-insurers_service_id-3-305 {
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</div>

